.section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    overflow: auto;
  }
  
  .background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    z-index: -1;
  }
  
  .content {
    padding: 2rem;
  }
  