body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  .fixed {
    /* linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.8)), url("/static/media/Harmonograph.89ad139e0a38bf09113d.png") */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    background-color: black;
    /* background-size: 100% 100% !important; */
  }
  
  .fullPageSection{
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    /* scroll-snap-align: center; */
    height: 100vh;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
  }
  
  .fullPageSections {
    scroll-snap-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 5%;
  }

  .fullPageSection #section1 {
    left: 60%;
  }

  a{
    color:white;
  }

  .fullPageSections h2 {
    position: 'absolute';
    top: '50%';
    color: 'white';
    /* textShadow: '2px 2px 4px #000000'; */
  }

  
